#add-accout-modal{
    position: relative;
}

#add-account-modal #overlay
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    opacity: .7;
    z-index: 5;
}

#add-account-modal #main{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#add-account-modal #form{
    padding : 20px;
    width: 350px;
}

#add-account-modal #form input{
    width: 100%;
}