
nav > .nav.nav-tabs{

    border: none;
    border-radius:0;
    font-size: medium;
  
  }
  nav > div button.nav-item.nav-link,
  nav > div button.nav-item.nav-link.active
  {
    border: 1px solid;
    padding: 18px 25px;
    border-radius:0;
  }
  
  nav > div button.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
  }
  .tab-content{
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
  }
  
  nav > div button.nav-item.nav-link:hover,
  nav > div button.nav-item.nav-link:focus,
  nav > div button.nav-item.nav-link.active
  {
    border: none;
    background: #e74c3c;
    border-radius:0;
    transition:background 0.20s linear;
    color: #ddd;
    
  }