#uname {
    width: 20%;
}

.account-control {
    display: flex;

}

#reward_pool {
    color: red;
}

body, #pnlTable, #questTable
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}

td {
    text-align: center;
}

table.darkMode tr:nth-child(even) {
    background-color: #2a3135;
    color: #f1f1f1;
  }
table.darkMode tr:nth-child(odd) {
   background-color: #0f1314;
   color: #f1f1f1;
  }

/*hide the gold status in the pnl table*/
#pnlTable tr > *:nth-child() {
    display: none;
}

.message {
    display: none;
}

#numOfDays {
    padding: 8px 16px;
}

.collection-table {
  height: 400px; 
  width:75%; 
  overflow-y: scroll; 
  margin: 0 auto; 
  border: 1px solid green
}

.sticky-table-head {
  position: sticky;
  top: 0;
}

/*Slider*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width : 600px) {
    #uname {
        width: 50%;
    }  
}

@media only screen and (min-width: 1000px) {
    #uname {
        width: 50%;
    }  
}

/* form */
#cards-form {
    width: 100%;
}

input[type=number], select#gold {
    width: 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select#gold {
    width: 7%;
}


input#addCard[type=button] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input#inputReset[type=reset] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input#addCard[type=button]:hover {
    background-color: #45a049;
}
  
.contact-us-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/*end of form*/

.pop-test {
  position: fixed;
  top: 60px;
  width:800px;  /* adjust as per your needs */
  margin-left:-400px;   /* negative half of width above */
  left:50%;
}

.load-center {
  position: fixed;
  opacity: 0.4;
  z-index: 1; /* Add a z-index if needed */
  top: 60px;
  width:8000px;  /* adjust as per your needs */
  height: 8000px;
  margin-left:-4000px;   /* negative half of width above */
  margin-top: -30px;
  left:50%;
  top:50%
}

/*Toaster*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on bottom of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* PASTEL COLORS */

.light-salmon-pink {
  background-color: #FF9AA2;
}

.crayolas-periwinkle {
  background-color: #C7CEEA;
}

.magic-mint {
  background-color: #B5EAD7;
}

.very-pale-orange {
  background-color: #FFDAC1;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*End Toaster*/

@media screen and (max-width: 700px) {
    /* form */
    #cards-form {
        width: 100%;
    }

    input[type=number], select#gold {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input#inputReset[type=reset] {
        width: 25%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input#addCard[type=button] {
        width: 25%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input#addCard[type=button]:hover {
        background-color: #45a049;
    }
    
    .contact-us-form {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    /*end of form*/

}

